<html>
  <head>
  	<title>Encurtador de URl</title>
  	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
     <form class="pure-form pure-form-aligned" id ="urlRedirect" method = "POST">
     	{% csrf_token %}
         
             <div class="pure-control-group">
                 <label for="name">Senha</label>
                 <input name ="senha" id="senha" type="text" >
             </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Enviar</button>
        </div>
       
     </form>
  <body>
  </body>
</html>